REPORT_GAS=

BSCSCAN_API_KEY = 
NODEREAL_API_KEY = 
COINMARKETCAP_API_KEY=

CONTRACT_ADDRESS=

PRIVATE_KEY=

WORKER_PRIVATE_KEY=
RPC_URL=


POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_PASSWORD=
POSTGRES_PORT=